* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(2, 63, 63, 0.808);
}

header {
    height: 100px;
    background-color: rgba(18, 99, 99, 0.774);
}

header h2 {
    height: 100%;
    margin-left: 80px;
    line-height: 90px;
}

main {
    background-color: rgb(53, 165, 128);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main h1 {
    text-align: center;
    margin-top: 30px;
}

main form {
    display: flex;
    justify-content: center;
    height: 100%;
}

main form input {
    height: 40px;
    padding: 10px;
    width: 300px;
    border: none;
    background-color: rgba(175, 169, 169, 0.678);
}

main form input:focus-visible {
    outline: none;
}

main form button {
    border: none;
    height: 40px;
    width: 30px;
    background-color: gray;
    text-align: center;
}

main form button i {
    height: 35px;
    line-height: 20px;
}

span {
    display: flex;
    justify-content: center;
    
}

.message-error {
    width: auto;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    margin-bottom: 20px;
}
.message-ok {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background-color: rgba(2, 63, 63, 0.808);
    color: black;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    margin-bottom: 20px;
}