* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #77BBA4;
}

header {
    height: 100px;
    background-color: #9DF5B9;
    border-bottom: #193d31;
}

header h2 {
    height: 100%;
    margin-left: 80px;
    line-height: 90px;
}

main {
    background-color: #9DF4F5;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 2px;
}

main h1 {
    text-align: center;
    margin-top: 30px;
}

main form {
    display: flex;
    justify-content: center;
    height: 100%;
}

main form input {
    height: 45px;
    padding: 10px;
    width: 300px;
    border: none;
    background-color: #77B9A1;
}

main form input:focus-visible {
    outline: none;
}

main form button {
    border: none;
    height: 45px;
    width: 35px;
    background-color: #538170;
    text-align: center;
}

main form button i {
    height: 35px;
    line-height: 20px;
}

main div#resultado {
    margin: 0 auto;
}

main div#resultado.spinner-border {
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

section div#historico p{
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
}

section div#historico p:hover, section div#historico p:focus {
    background-color: rgb(53, 165, 128);
    transform: scale(1.03);
}

span {
    display: flex;
    justify-content: center;
    
}

.message-error {
    width: auto;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    margin-bottom: 20px;
}
.message-ok {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background-color: rgba(2, 63, 63, 0.808);
    color: black;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    margin-bottom: 20px;
}